.padding{
    padding:4rem 4rem;
}
*{
    font-family:inherit;
    font-weight: 500;
}
h1{
    color: white;
    font-family:inherit ;
}
.footer-heading {  /*  for RND Heading */
    display: flex;
    font-size: 30px; 
    align-items: center;
    justify-content: center;
    color: rgb(10, 4, 91);
    font-family:inherit;
    font-weight: bold;
  }
 

h3,h4{
    font-family:inherit;
    font-weight: bold;
    
}
.Footer{
    background-color: #f7f7fa;
}

.my__footer{
    display:flex;
    flex-direction: column;
}
.my__footer-links{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.my__footer-links_div{
    width:230px;
    margin:0.7rem;
    display: flex;
    justify-content: flex-start;
    /* justify-content: center; */
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.my__footer-links_div1{
    width:270px;
    margin:0.7rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(7, 2, 109);
    
}
.my__footer-links_div h4{
    font-size: 19px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.my__footer-links_div p2{
    font-size: 20px;
    font-weight: 700;
    /* margin: 0.5rem 0; */
    cursor: pointer;
    line-height: 1.5;
    margin-left: auto;

}
.my__footer-links_div a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    
}

.my__footer-links_div a:hover{
    color:#0b25a8;
}
.headings{
    font-size: 25px ;
    color:rgb(7, 2, 109) ;
    font-weight: bold;
}



.socialmedia{
    display: flex;
    flex-direction: row;
}

.my__footer-below{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2rem;
    text-align: center;
    
}
.my__footer-below-links{
    display: flex;
    flex-direction: row;
    color: rgb(21, 20, 20);
    font-weight: 600;
    
    
}
hr{
    color:rgb(1, 3, 19);
    width:100%;
    border-top: 1px solid rgb(1, 3, 19); 
}


.in{
    background:#3f93cf;
    height:30px;
    width:30px;
    margin:4px;
    border-radius: 2px;
    color:white;
}
.tw{
    background:#060707;
    height:30px;
    width:30px;
    margin:4px;
    border-radius: 2px;
    color:white;
}
.fb{
    background:#2d64e4;
    height:30px;
    width:30px;
    margin:4px;
    border-radius: 2px;
    color:white;
}
.ig{
   
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height:30px;
    width:30px;
    margin:4px;
    border-radius: 2px;
    color:white;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-top:10px;
}
.contact-link{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    line-height: 1.5;

}
.contact-link p2{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}
.contact-icon{
    margin-top: 10px;
    color:#3c8ce7;
    height:20px;
    width:20px;
}
.social{
    display: flex;
    flex-direction: row;
}