.all{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
.leftcontent{
 
    /* border-radius: 10px; */
    width: 20rem;
   
   
    text-align: left;
    padding:3%;
    cursor:pointer;
}

.rightcontent{
    font-size: 1.8em;
    font-family:"Poppins",san-seriff;
    margin-left:0;
    padding: 0%;
}



.rightcontent p{
    padding: 10px;;
    


}
.allcontent{
    /* margin-top: 0%; */
    display: flex;
    justify-content: space-between;
}
.title{
   color: rgb(10, 10, 136);
   text-align: center;
}
.text{
    width:50rem;
    text-align: center;
    font-size: 0.8em;
}
