*{
    margin: 0;
    padding: 0;
}
ul li{

color:white;
padding:1rem;
}

/* ul li a:hover {
font-size: 1.6rem;
} */

ul li a:active{
color:aquamarine
}

/* input::placeholder {
    color: #577098;
  }
   */
  /* input:focus {
    outline: none;
  } */

/* .trans{
  transition: all 2s ease-in-out;
  transform: translateY(1rem);
  
} */



/* .bgd{
/*    
   z-index: 02;
   background: url('C:\\Users\\deves\\OneDrive\\Documents\\Desktop\\R and D Website\\my-app\\public\\bgimage.png') no-repeat center center/cover ;
   height: 84vh; */
  


.bgd::before{
  content: ('');
  background: url('/public/bgimage.png') no-repeat center center/cover ;
  position: absolute;
  z-index: 05;
  height: 84vh;
 width:100%;

}

#noticebox{
  opacity: 1;
}