/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
   
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  body::before
  {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(20% at right 70%);
  }
  body::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
    overflow-y: scroll;
  }
  
  .row {
    padding-bottom: 5rem;
  }
  */
  body {
    height:50vh;
    
    font-family: "Raleway",Arial,sans-serif;
    
  }
  h1 {
    color:black;
  }
  .row {
    padding-top: 120px;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .card {
    width: 300px;
    height: 400px;
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
   }
   
   /*Image*/
   .card-avatar {
    --size: 150px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
   }
   
   
   /*Card footer*/
   .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
   }
   
   .card-social__item {
    list-style: none;
   }
   
   .card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
   }
   
   /*Text*/
   .card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
   }
   
   .card-subtitle {
    color: #859ba8;
    font-size: 1.1em;
   }
   
   /*Hover*/
   .card:hover {
    box-shadow: 0 8px 50px #23232333;
   }
   
   .card:hover .card-info {
    transform: translateY(-5%);
   }
   
   .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
   }
   
   .card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
   }
   
   .card-avatar:hover {
    transform: scale(1.1);
   }
    /*
      .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .backgroundrocket img{
      height:100px;
      width:100px;
      z-index: -400;
    }
    */
    /* .backgroundRocket {
      background-image: url("../public/rocket.jpg");
      background-size: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-position: left;
    } */
    /*
    .back {
      background-image: url('../public/gdsc5.jpg');
      background-size: 200px;
      height:200px;
      background-repeat: no-repeat;
      background-position: right;
    }
    .backblock {
      background-image: url('../public/gdsc4.jpg');
      background-size: 200px;
      height:200px;
      background-repeat: no-repeat;
      background-position: left;
    } */
    