.my-table {
  width: 85%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border-radius: 8px;
}

.my-table th, .my-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}   

.my-table th {
  background-color: hsl(210, 78%, 84%);
  font-size:1.3em;
  font-weight: bold;
  color: #212529;
}
.my-table tbody tr{
    color: #0e116c;
    font-size:1.3em;
}

.my-table tbody tr:hover {
  background-color: hsla(210, 78%, 84%, 0.148);
}

.no-data {
  color: #999;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
