.research-scheme-container-Tech {
    max-width:100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1e8ee44;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
  }
  
  .section-heading-Tech {
    max-width:none;
    font-weight: 520;
    font-size: 3em;
    color: #0e116c; 
    text-align:center;
    margin-bottom: 20px;
  }