.research-scheme-container {
     max-width: 1600px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: #eeeaea; */
    /* border-radius: 30px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);     */
  }
  
  .section-heading {
    font-family:"Poppins",san-seriff;
    font-size: 3.8em;
    color: #0e116c;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .scheme-details p {
    font-size: 1.5em;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .scheme-details ul {
    font-size: 1.5em;
    color: #0f0303;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
  }s
  
  .links-section h2 {
    font-size: 1.5em;
    color: #000000;
    margin-top: 20px;
  }
  
  .links-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .links-section li {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .links-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .links-section a {
    text-decoration: none;
    color: #2a39d5;
    font-weight: bold;
  }
  
  .links-section a:hover {
    text-decoration: underline;
  }
  .listcolor{
    color: #000000;

  }
  